*~
*.o
*.dll
inst/doc/figs/*
inst/doc/*.pdf
inst/doc/*.tex
inst/doc/*.aux
inst/doc/*.log
web/index.html
.DS_Store
.Rhistory
hydromad.Rproject
docs/.DS_Store
.Rproj.user
.RData
src/RcppExports.cpp
R/RcppExports.R
